<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c353fea5cc.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="slider">
        <div class="slider__images-container">
            <div class="slider__image-container slider__image-container--first"></div>
            <div class="slider__image-container slider__image-container--second"></div>


            <div class="silder__divider">
                <div class="slider__divider-handle"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</body>
</html>